html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  /********Margins*************/
  --margin-top-head: 2rem;
  --margin-top-form: 1rem;
  /*********Inputs*************/
  --inputsTest: "radio";
  --button-color: #37af65;
}

.main-box {
  display: flex;
  flex-direction: column;
}

header {
  flex-basis: 100%;
  min-height: 100vh;

  background-image: linear-gradient(rgb(88, 88, 88) 0%, rgb(255, 24, 24) 90%),
    linear-gradient(to right, rgb(255, 132, 255) 0%, yellow 1%),
    url("../img/header/Marlon-Velasquez-header-desktop.jpg");
  background-blend-mode: screen, difference, lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/******header*********/
.header__overlay {
  /* position: relative; */
  background: url(https://s14.directupload.net/images/111129/44ga9qid.png);
  background-position: center;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
  height: fit-content;
  flex-basis: 100%;
  font-size: 2.8rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.header__overlay-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
}

.header__overlay-box > h1 {
  padding-bottom: 5rem;
  font-weight: 900;
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
}

.header__overlay-box > h3 {
  font-weight: 900;
  font-size: 2.8rem;
  color: rgb(0, 0, 0);
}

.btn {
  background-color: #b95020;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn:hover {
  background-color: rgb(255, 0, 0);
  font-weight: 800;
  color: white;
}

.btn > span {
  transform: scale(2);
}

/* Modal */
.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translateX(-100%);
  transition-property: transform, opacity;
  transition-delay: 0, 1s;
  transition-duration: 0.5s, 0.8s;
  transition-timing-function: ease-out ease-out;

  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#openModal:target {
  opacity: 1;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-delay: 0, 1s;
  transition-timing-function: ease-out, ease-in;
  transition-duration: 1s, 1s;
}

.modalBox {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.modalTitleClose {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  display: block;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(143, 143, 143);
}

**********************************************************
  Form
  ******************************************************/
  .survey-form {
  border-radius: 0.25rem;
  background-color: rgba(41, 40, 72, 0.9);
  padding: 2.5rem 2.5rem;
  margin-top: var(--margin-top-head);
  font-family: var(--font-text);
  color: var(--main-color);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.survey-form__label {
  font-weight: var(--font-weight-labels);
  font-size: var(--font-size-labels);
}

.survey-form__input {
  background-color: var(--main-color);
  border-radius: 0.25rem;
  height: 35px;
  padding-left: 0.5rem;
  font-size: var(--font-size-input);
  letter-spacing: var(--letteSpacing);
}

.submit-button {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--button-color);
  border-radius: 0.25rem;
  padding: 14px 30px;
  margin-block-end: 1.5rem;
  width: 100%;
}
